/*
custom rules for this slide deck
*/


.flex-container {
  	display: flex;
	align-items: stretch;
	height: 70%;
	width: 100%;
}

.flex-item {
	flex: 1;
	margin: 20px;
	color: white;
}

.flex-item img{
	width: 65%;
}

p.expanded {
	margin: 20px 20px 30px;;
	line-height: 1.4em;
}

.subdue {
	color: #666;
}

.fixed-flow{
	overflow: scroll;
	width: 50%;
	height: 75%
}

.edit-area {
	border: none;
	color: #f8f8f2;
	background: none;
	font-size: 1em;
	font-family: open_sansregular, arial, helvetica, sans-serif;
	padding: 1em 0 1em 0;
	height: 30em;
	width: 100%;
}

.edit-html-result ul, .edit-html-result ol {
	padding: 1.5em;
	margin-top: 0;
	padding-top: 0;
}

.edit-panel{
	background: #444;
	padding: 1em;
	overflow: hidden;
}

.edit-html-result p{
	white-space: nowrap;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}

.textarea-tabs {
  list-style: none;
  margin: 0;
  background: deepskyblue;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.textarea-tabs span {
  text-decoration: none;
  display: block;
  padding: 0.2em;
  font-size: 0.8em;
  color: white;
}

.textarea-tabs span:hover {
  background: #0091c2;
  cursor: pointer;
}

.textarea-tabs li{
	list-style-type: none;
	padding: 0 0.2em 0 0.2em;
	margin: 0;
}

ul.larger li, ol.larger li  {
    font-size: 1.6em;
}

ol li{
    margin-top: 1em;
    list-style-type: decimal;
}

a.hidestyle{
    text-decoration: none;
    color: #fff;
}

a.hidestyle:hover{
    text-decoration: underline;
    color: #fff;
}